@import "bootstrap-sprockets";
@import "bootstrap";

/*Variables and mixins*/
$light-gray: #777;
@mixin box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* styles for the debug */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box-sizing;
}

/*styles for error messages */
#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}


/*styles for the forms */
input, textarea, select {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box-sizing;
}

input {
    height: auto !important;
}

/*Universal styles for the page */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 60px;
    }
}

textarea {
    resize: vertical;
}

section {
    overflow: auto;
}


/*Typography */
h1,h2,h3,h4,h5,h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
    margin-bottom: 30px;
}

#logo {
    float: left;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 1.7em;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}


/*Footer styles */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $light-gray;
    small {
        float: left;
    }
    ul {
        list-style: none;
        float: right;
    }
    li {
        float: left;
        margin-left: 15px;
    }
}

/*styles for the gravatar */
aside {
    section.user_infor{
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
    
    &:first-child {
        border: 0;
        padding-top: 0;
    }
    span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
    }
    
    h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
        
     }
    }
}